<h1>This is the blogs index !</h1>
<% blogs.forEach(blog => { %>
    <div>
        <h2><%= blog.title %> </h2>
        <img src="<%= blog.image %> " alt="">
        <span><%= blog.created %> </span>
        <p><%= blog.body %> </p>
    </div>
<% }); %>